<h1>Edit your Pets!</h1>

<form method="POST" action="/pets/<%= @pets.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <p>Pet Name: <%= @pets.name %></p>
    <input type="text" name="name" placeholder="New Name">
    <p>Pet Age: <%= @pets.age %></p>
    <input type="text" name="age" placeholder="New Age">
    <p>Pet Size: <%= @pets.size %></p>
    <input type="text" name="size" placeholder="New Size"></p>
    <p>Pet Breed: <%= @pets.breed %></p>
    <input type="text" name="size" placeholder="New Breed"></p>
  
    <input type="submit" value="Edit Pet!">
</form>