<body>
  <button><a href="/show">Home</a></button>
    <h2>Pet Name: <%= @pets.name %></h2>
    <h3>Pet Age: <%= @pets.age %></h3>
    <h3>Pet Size: <%= @pets.size %></h3>
    <h3>Pet Breed: <%= @pets.breed %></h3>
    <button><a href="/pets/<%= @pets.id %>/edit">Edit this pet</a></button>
    <%# binding.pry %>

    
    
    <% if @pets.owner.id == current_user.id %>
    <!-- edit link -->
    
        <br />
     <%# delete form %>
        <h3>Would you like to delete this pet?</h3>
        <form method="POST" action="/pets/<%= @pets.id %>">
          <input type="hidden" id="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete">
        </form>
    <% end %>
</body>